<section class="mision">
  <div class="container">
    <div class="section-title">
    <h2 class="heading-title">{{paragraph.field_title.value}}</h2>
</div>


<div class="cards-wrapper d-grid cols-2">
  {% for card_ms in paragraph.field_card_mision %}
    {% set card = card_ms.entity %}
    {% if card %}
      <div class="card-mission">
        {% if card.field_title.value %}
          <h4 class="card-title">{{ card.field_title.value }}</h4>
        {% endif %}

        {% if card.field_description.value %}
          <div class="card-description">{{ card.field_description.value | raw }}</div>
        {% endif %}

        <div class="card-img">
          {% if card.field_image.entity %}
            {% set media = card.field_image.entity %}
            {% if media.field_media_image.entity %}
              <img
                src="{{ file_url(media.field_media_image.entity.uri.value) }}"
                alt="{{ media.field_media_image.alt }}"
                loading="lazy"
              />
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>




</div>
</section>
