{#
/**
 * @file
 * Plan paragraph template
 */
#}
{% set classes = [
  'plan-card',
  'paragraph--type--plan',
] %}

<div{{ attributes.addClass(classes) }}>

 <div class="plan-name">{{ paragraph.field_plan_name.value }}</div>
 <div class="price-section">
      <div class="price">
        <span class="price-currency">$</span>
         <span  class="plan-price" data-monthly="{{ paragraph.field_plan_price_monthly.value }}"
           data-yearly="{{ paragraph.field_plan_price_yearly.value }}">
                {{ paragraph.field_plan_price_monthly.value  }}
              </span>
            </div>
    <div class="price-period">/month</div>
          </div>
 <div class="plan-description">{{ paragraph.field_plan_description.value }}</div>
<ul class="plan-features">
 {% for item in plan.field_plan_features %}
                 <li class="d-flex"><span class="icon-list"><i class="fa-solid fa-circle-check"></i></span>{{ item.value }}</li>
               {% endfor %}
</ul>
</div>
