<section class="connection">
<div class="container">

<div class="connection-wrapp d-grid cols-2">

<div class="connection-item connection-content">
{{ content.field_before_title }}
<div class="wrapp-title"><h2 class="heading-title sm-line">{{paragraph.field_title.value}}</h2></div>
 {{ paragraph.field_description.value|raw }}
{{ content.field_link_icon }}
</div>
<div class="connection-item connection-img">
{% if paragraph.field_image.entity %}
            {% set media = paragraph.field_image.entity %}
            {% if media.field_media_image.entity %}
           <img src="{{ file_url(media.field_media_image.entity.uri.value) }}" alt="{{ media.field_media_image.alt }}" />
          {% endif %}
          {% endif %} 
</div>

</div>
</div>
</section>
