<section class="testimonials">
<div class="container">

<div class="section-title">
    {{ content.field_before_title }}
<div class=testimonials-title">
    <h2 class="heading-title">{{paragraph.field_title.value}}</h2>
</div>
   <div class="description">
      {{paragraph.field_testimonials_description.value}}
    </div>
</div>


{#{{content.field_testimonials_slider}}#}

<div class="swiper-container testimonial-slider">
      <div class="swiper-wrapper">

 {% for item in paragraph.field_testimonials_slider %}
          {% set testimonial = item.entity %}
          {% if testimonial %}
<div class="swiper-slide testimonial-slide">
{{content.field_client_info}}
</div> {# închide .swiper-slide #}
 {% endif %}
{% endfor %}

</div>
</div>

</div>
</section>
