{#
/**
 * @file
 * Card paragraph template
 */
#}
{% set classes = [
  'card',
  'card-team',
  'bg-gray',
] %}

<div{{ attributes.addClass(classes) }}>
  
 {% if paragraph.field_image.entity %} {% set media =
                paragraph.field_image.entity %} {% if
                media.field_media_image.entity %}
            <div class="card-img">

                <img
                src="{{ file_url(media.field_media_image.entity.uri.value) }}"
                alt="{{ media.field_media_image.alt }}"
              />

            </div>
            {% endif %} {% endif %}

  {# Title #}
  {% if paragraph.field_team_name.value %}
    <h5 class="card-name">
      {{ paragraph.field_team_name.value }}
    </h5>
  {% endif %}
  
  {# Description #}
  {% if paragraph.field_team_job.value %}
    <div class="card-job">
      {{ paragraph.field_team_job.value}}
    </div>
  {% endif %}
  
</div>
