<section class="features">
<div class="container">
   <div class="section-title">
      {{content.field_before_title}}
      <div class="feature-section-title"><h2 class="heading-title">{{paragraph.field_title.value}}</h2></div>
   </div>
  
    <div class="features-wrapp-top d-grid">

     <div class="features-item d-grid">

      <div class="features-img">
          {# {{ content.field_image_top_feature_left }}#}
             {% if paragraph.field_image_top_feature_left.entity %}
            {% set media = paragraph.field_image_top_feature_left.entity %}
            {% if media.field_media_image.entity %}
           <img src="{{ file_url(media.field_media_image.entity.uri.value) }}" alt="{{ media.field_media_image.alt }}" />
          {% endif %}
          {% endif %} 
         
      </div>

      <div class="features-content">
         <div class="features-content__title">
         <h5>{{paragraph.field_title_feature_midlle.value}}</h5>
         </div>

          <div class="features-content__text">
             {{paragraph.field_feature_description_middle.value}}
          </div>
         {{content.field_link}}
      </div>
   </div>
     <div class="features-item">
          <div class="features-content">

           <div class="features-content__title">
              <h5>{{paragraph.field_title_feature_right.value}}</h5>
            </div>
            <div class="features-content__text">
              {{paragraph.field_feature_description_right.value}}
            </div>
        <div class="feature-image__right">
           {#{{ content.field_image_top_feature_right }}#}
            {% if paragraph.field_image_top_feature_right.entity %}
            {% set media = paragraph.field_image_top_feature_right.entity %}
            {% if media.field_media_image.entity %}
           <img src="{{ file_url(media.field_media_image.entity.uri.value) }}" alt="{{ media.field_media_image.alt }}" />
          {% endif %}
          {% endif %} 
       </div>
      </div>

     </div>
    </div>

   {% if content.field_cards_features|render %}
          {{ content.field_cards_features|without('wrapper') }}
    {% endif %}

</div>
</section>
