<section class="career-job bg-gray">
  <div class="container">

<div class="section-title">
 <h2 class="heading-title">{{paragraph.field_title.value}}</h2>
</div>



    <div class="job-cards">
      {% for item in paragraph.field_open_jobs %}
        {% set job = item.entity %}
        {% if job %}
        
          <div class="job-card d-grid cols-3">
            <div class="card-title">
              {% if job.field_job_time.value %}
                <span class="job-time">{{ job.field_job_time.value }}</span>
              {% endif %}
              <h4>{{ job.title.value }}</h4>
              {% if job.field_job_vacancy.value %}
                <span class="job-vacancy">{{ job.field_job_vacancy.value }}</span>
              {% endif %}
            </div>

            <div class="card-content">
              <ul class="card-list">
              {% if job.field_job_salary.value %}
                <li><strong>Salary:</strong> {{ job.field_job_salary.value }}</li>
              {% endif %}
              {% if job.field_job_experience.value %}
                <li><strong>Experience:</strong> {{ job.field_job_experience.value }}</li>
              {% endif %}
              {% if job.field_job_education.value %}
                <li><strong>Education:</strong> {{ job.field_job_education.value }}</li>
              {% endif %}
             </ul>
            </div>

            <div class="card-btn d-flex">
             
              <a  href="{{ path('entity.node.canonical', {'node': job.id}) }}" class="btn btn-outline d-flex">
                  <span>Apply Now</span>
                  <span><i class="fa-solid fa-arrow-right"></i></span>
                </a>
             
            </div>
          </div>
         
        {% endif %}
      {% endfor %}
    </div>
 


 </div>
</section>
