<section class="faq">
   <div class="container">
     <div class="faq-wrapp d-grid">
       <div class="faq-item faq-content">
            {{ content.field_before_title }}
            <div class="wrapp-title">
         
      <h2 class="heading-title">{{paragraph.field_title.value}}</h2>
        {{ paragraph.field_description.value|raw }}
        {{ content.field_link_icon }}
       </div>
       </div>
       <div class="faq-item faq-accordion">
     {{content.field_paragraph_accordion}}
       </div>
     </div>
   </div>
</section>
