<section class="features">
<div class="container">
   <div class="section-title">
      {#<div class="before-title">{{paragraph.field_before_title.value}}</div>#}
      {{content.field_before_title}}
      <div class="title"><h2>{{paragraph.field_title.value}}</h2></div>
   </div>
  
    <div class="features-wrapp-top d-flex">
     <div class="features-item>
      <div class="features-img">
      </div>
      <div class="features-content">
        <div class="features-content__title">
        <h4>{{paragraph.field_title_feature_midlle.value}}</h4>
          
        </div>
       <div class="features-content__text">
       {{paragraph.field_feature_description_middle.value}}
        </div>
         {{content.field_link}}
      </div>
   
     <div class="features-item">
          <div class="features-content-right">
        <div class="features-content__title">
          <h4>{{paragraph.field_title_feature_right.value}}</h4>
        </div>
       <div class="features-content__text">
          {{paragraph.field_feature_description_right.value}}
        </div>
      </div>
     </div>
     </div>
    </div>
   <div class="features-wrapp-bottom d-flex">
   </div>
</div>
</section>
