
<section class="career bg-gray">
  <div class="container">
    <div class="section-title">
      <h2 class="heading-title">{{ paragraph.field_title.value }}</h2>
      <div class="description">
        <p>{{ paragraph.field_description.value }}</p>
      </div>
    </div>

    <div class="career-images d-grid">
  {% for media in paragraph.field_images %}
    {% set file = media.entity.field_media_image.entity %}
    <div class="career-item" data-index="{{ loop.index }}" style="background-image: url({{ file_url(file.uri.value) }})"></div>
  {% endfor %}
</div>

  <div class="career-review d-grid cols-4">
     <div class="review">
       <div class="rewiew-title">
          <span>{{paragraph.field_rewiew_title.value}}</span>
          <span class="review-star">
                   {% for i in range(1, 5) %}
                     <i class="fa-solid fa-star"></i>
                    {% endfor %}
         </span>
       </div>
        <p>{{paragraph.field_rewiew_text.value}}</p>
    </div>
    
      {{ content.field_counter }}
   
  </div>

  </div>
</section>
