<section class="features">
<div class="container">
   <div class="section-title">
      {{content.field_before_title}}
      <div class="feature-section-title"><h2 class="heading-title">{{paragraph.field_title.value}}</h2></div>
   </div>
  
    <div class="features-wrapp-top d-grid">

     <div class="features-item d-flex">

      <div class="features-img">
           {{ content.field_image_top_feature_left }}
      </div>

      <div class="features-content">
         <div class="features-content__title">
         <h5>{{paragraph.field_title_feature_midlle.value}}</h5>
         </div>

          <div class="features-content__text">
             {{paragraph.field_feature_description_middle.value}}
          </div>
         {{content.field_link}}
      </div>
   </div>
     <div class="features-item">
          <div class="features-content">

           <div class="features-content__title">
              <h5>{{paragraph.field_title_feature_right.value}}</h5>
            </div>
            <div class="features-content__text">
              {{paragraph.field_feature_description_right.value}}
            </div>
        <div class="feature-image__right">
           {{ content.field_image_top_feature_right }}
       </div>
      </div>

     </div>
    </div>

   <div class="features-wrapp-bottom d-flex">
   </div>
</div>
</section>
