<section class="benefits">
<div class="container">

 <div class="section-title">
  {{content.field_before_title}}
<div class="benefits-title">
    <h2 class="heading-title">{{paragraph.field_title.value}}</h2>
</div>
   <div class="description">
      <p>{{paragraph.field_description.value}}</p>
    </div>
</div>



   <div class="benefits-wrapp d-grid cols-3">
          {{ content.field_cards }}
    </div>

  <div class="benefits-review d-flex">
     <div class="review">
       <div class="rewiew-title">
          <span>{{paragraph.field_benefits_rewiews_title.value}}</span>
          <span class="review-star">
                   {% for i in range(1, 5) %}
                     <i class="fa-solid fa-star"></i>
                    {% endfor %}
         </span>
       </div>
        <p>{{paragraph.field_benefits_rewiews_text.value}}</p>
    </div>
    <div class="counter d-grid cols-3">
      {{ content.field_benefits_rewiews_counter }}
    </div>
  </div>

</div>
</section>
