<section class-"key-feature-section">
  <div class="container">
    <div class="section-title">
      {{content.field_before_title}}
      <div class="feature-section-title"><h2 class="heading-title">{{paragraph.field_title.value}}</h2></div>
   </div>

    <div class="key-feature-wrapper d-grid">

      <div class="key-feature-image">
          {% if paragraph.field_image_key.entity %}
            {% set media = paragraph.field_image_key.entity %}
            {% if media.field_media_image.entity %}
           <img src="{{ file_url(media.field_media_image.entity.uri.value) }}" alt="{{ media.field_media_image.alt }}" />
          {% endif %}
          {% endif %} 
      </div>

      <div class="key-feature-content">
        {% if paragraph.field_title_key %}
          <h4>{{ paragraph.field_title_key.value }}</h4>
        {% endif %}
        {% if paragraph.field_description_key %}
          {{ paragraph.field_description_key.value|raw }}
        {% endif %}
        test
        <div class="key-feaure-list">
          {% if paragraph.field_text_list_key %}
            <ul>
              {% for item in paragraph.field_text_list_key %}
                <li class="d-flex"><span class="icon-list"><i class="fa-solid fa-circle-check"></i></span>{{ item.value }}</li>
              {% endfor %}
            </ul>
          {% endif %}
      </div>

    </div>


  

  <div class="key-feature-wrapper d-grid bottom-feature">

     <div class="key-feature-image">
          {% if paragraph.field_image_key_bottom.entity %}
            {% set media = paragraph.field_image_key_bottom.entity %}
            {% if media.field_media_image.entity %}
           <img src="{{ file_url(media.field_media_image.entity.uri.value) }}" alt="{{ media.field_media_image.alt }}" />
          {% endif %}
          {% endif %} 
        </div>

      <div class="key-feature-content">
      {% if paragraph.field_title_key_bottom %}
          <h4>{{ paragraph.field_title_key_bottom.value }}</h4>
        {% endif %}
        {% if paragraph.field_description_key_bottom %}
          {{ paragraph.field_description_key_bottom.value|raw }}
        {% endif %}
        <div class="key-feaure-list">
            {% if paragraph.field_text_list_key_bottom %}
              <ul>
                {% for item in paragraph.field_text_list_key_bottom %}
                  <li class="d-flex"><span class="icon-list"><i class="fa-solid fa-circle-check"></i></span>{{ item.value }}</li>
                {% endfor %}
              </ul>
            {% endif %}
      </div>
       
  </div>

</div>



  </div>
  </section>
