
<section class="job-header bg-gray">
<div class="container">
    <div class="job-header">
      <h2>{{ node.title.value }}</h2>
    </div>
</div>
</section>
<article{{ attributes.addClass('job-page') }}>
  <div class="container">
    <div class="job-content">
      {{ content.field_job_description }}
      {{ content.field_job_responsibilities }}
      {{ content.field_qualifications }}
      {{ content.field_skills }}
      {{ content.field_other_benefits }}
    </div>
  </div>
</article>
