
<section class="job-header bg-gray">
<div class="container">
  <div class="job-header">


          <div class="section-title">
              <h2 class="heading-title"><span>Apply</span> {{ node.title.value }}</h2>
            <div class="description">
                    <p>Creating a concise and effective design studio 
                   brief is crucial for outlining your business, its services.</p>
            </div>
          </div>
   

   </div>
</div>
</section>
<article{{ attributes.addClass('job-page') }}>
  <div class="container">
<div class="job-wrapp d-grid">
    <div class="job-content">
      {{ content.field_job_description }}
      {{ content.field_job_responsibilities }}
      {{ content.field_qualifications }}
      {{ content.field_skills }}
      {{ content.field_other_benefits }}
    </div>
<div class="job-sidebar">
 <div class="job-details-box">
<h5>Job Details</h5>

 <ul class="job-details-list">
        {% if node.field_job_salary.value %}
          <li><strong>Salary:</strong> {{ node.field_job_salary.value }}</li>
        {% endif %}
        {% if node.field_job_vacancy.value %}
          <li><strong>Vacancy:</strong> {{ node.field_job_vacancy.value }}</li>
        {% endif %}
        {% if node.field_job_experience.value %}
          <li><strong>Experiences:</strong> {{ node.field_job_experience.value }}</li>
        {% endif %}
        {% if node.field_job_education.value %}
          <li><strong>Education:</strong> {{ node.field_job_education.value }}</li>
        {% endif %}
        {% if node.field_job_deadline.value %}
          <li><strong>Deadline:</strong> {{ node.field_job_deadline.value }}</li>
        {% endif %}
      </ul>

      {% if node.field_job_cta_link.uri %}
        <a href="{{ node.field_job_cta_link.uri }}" class="btn btn-outline d-flex">
         <span> {{ node.field_job_cta_link.title }} </span>
          <span><i class="fa-solid fa-arrow-right"></i></span>
        </a>
      {% endif %}

</div>
<div>
</div>
  </div>
</article>
