{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'blog-tags',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="container">

    <div class="blog-card__wrapp d-flex">

      {% if content.field_image %}
        {{ content.field_image }}
      {% endif %}

      <div class="blog-card__content">
        <h4 class="blog-card__title">
          <a href="{{ url }}">{{ label }}</a>
        </h4>

        {% if content.body %}
          <div class="blog-card__excerpt">
            {{ content.body }}
          </div>
        {% endif %}
      </div>

    </div>

  </div>
</article>

